<div class="header">
    <div class="dashboard">
        <ol class="nav-pages">
            <li class="nav-item"><div class="header-text">JOsH Lindsay</div></li>
            <li class="nav-item"><a href="/home"><div class="header-icon-home" alt="home"></div></a></li>
            <li class="nav-item"><a href="/upload"><span class="header-button" alt="upload">upload</span></a></li>
        </ol>

        <ol class="nav-account">
            <li class="nav-item"><a href="/home#my-comments"><div id="badge-comments" class="header-icon-chat badge-has-message" alt="badge">102</div></a></li>
            <li class="nav-item"><a href="/logout"><span class="header-button" alt="logout">logout</span></a></li>
            <li class="nav-item"><a href="/account"><div class="header-icon-account" alt="account"></div></a></li>
        </ol>
    </div>
    <div class="dashboard-blocks">
        <div class="block block-1"></div>
        <div class="block block-2"></div>
        <div class="block block-3"></div>
        <div class="block block-4"></div>
        <div class="block block-5"></div>
    </div>


    <div class="dashboard-sub">
        <div class="logo-container"><a href="/"><img src="http://wpc.867c.edgecastcdn.net/80867C/cdn-video/content/jlindsay/250x56-tt.png" alt="logo"></a></div>
        <div class="search-custom-box">
            <form action="/search" method="get">
                <input id="search-input" class="search-custom-input idleField" name="q" type="text" value="search">
                <button id="search" type="submit" class="search-button">search</button>
            </form>
        </div>
    </div>

</div>
