
.related-video-item-tmpl 
{
/*
    background-color:#ff0000;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right: 20px;
*/
    min-height:140px;

/*    background: #eeeeee;*/
    border-top:#fff solid 1px;
    border-bottom:1px #ccc solid;
    display:inline-block;
    
    margin-bottom:10px;
    width:100%;
    height:auto;
/*    width:300px;  */
  
/*    position:relative;    */
}

.related-video-item-tmpl  .related-video-item:hover{
    background-color:#fefeda;
}

.related-video-item-tmpl  .related-video-item-thumbnail-container
{
    /*float:left;*/
    display:inline;
}

.related-video-item-tmpl .related-video-item-title
{
    color:#444;
    font-size:18px;
    font-weight:bold; 
    font-family:sans-serif;
    text-shadow: 0px 1px 0px #fff;
}

.related-video-item-tmpl .related-video-item-description
{
    font-size:14px;
    vertical-align:top;
    vertical-align:top;
    text-shadow: 0px 1px 0px #fff;
}

.related-video-item-tmpl .related-video-item-thumbnail
{
    width:100%;
    height:70px;
    float:left;
    display:inline;
    background-color:#333;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align:top;
}



.related-video-item-tmpl .related-video-item-author
{
    background:url("/images/video-icons.png");
    background-position: -30px -60px;

    width:30px;
    height:30px;
    border:none;
    display:inline-block;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float:right;

}


.related-video-item-tmpl .related-video-item-author
{
    background:none;
    position:absolute;
    z-index:10;
    opacity: 0;
    margin:5px;
    width:50px;
    height:50px;
    left:-20px;
    
    -webkit-transition: all 0.25s ease-out;
       -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
         -o-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;


    -webkit-filter: brightness(10) blur(6px);
       -moz-filter: brightness(10) blur(6px);
        -ms-filter: brightness(10) blur(6px);
         -o-filter: brightness(10) blur(6px);
            filter: brightness(10) blur(6px);

}

.related-video-item-tmpl .related-video-item-author:hover 
{
    opacity: 1;
    left:0px;
    -webkit-filter: brightness(1) blur(0px);
       -moz-filter: brightness(1) blur(0px);
        -ms-filter: brightness(1) blur(0px);
         -o-filter: brightness(1) blur(0px);
            filter: brightness(1) blur(0px);
}

.related-video-item-tmpl:hover .related-video-item-author
{
    opacity: 1;
    left:0px;
    -webkit-filter: brightness(1) blur(0px);
       -moz-filter: brightness(1) blur(0px);
        -ms-filter: brightness(1) blur(0px);
         -o-filter: brightness(1) blur(0px);
            filter: brightness(1) blur(0px);
}




.related-video-item-tmpl .related-video-item-thumbnail
{
    min-width:300px;
    min-height:150px;

/*    width:100%;   */
    height:auto;
    display:inline-block;
    background-color:#333;
    vertical-align:top;
    z-index:5px;
    background-color:#000;
    -webkit-transition: all 0.25s ease-out;
       -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
         -o-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
}


.related-video-item-tmpl .related-video-item-title, .related-video-item-tmpl .related-video-item-title:visited
{
    font-weight:600; 
    color:#4499FE;
    cursor: pointer;
    text-decoration:none;
}

.related-video-item-tmpl .play-wrapper
{
/*    background-image:url("/images/play-icon.png");    */
    display:inline-block;
    background-color:#ccc;
    right:0;
    z-index:15;
    position:absolute;
}

.related-video-item-tmpl .related-video-item-thumbnail-container .play-icon
{
    background:none;
    border:none;
    background-image:url("/images/play-icon.png");

    background-position:0px 0px;
    -webkit-box-shadow:none;
    width:53px;
    height:53px;

    left:50%;

    margin-left: -27px;
    margin-top: 50px;
    opacity:0;
    z-index:20px;
    display:inline-block;
    position:absolute;

    -webkit-transition: opacity 0.25s ease-out;
       -moz-transition: opacity 0.25s ease-out;
        -ms-transition: opacity 0.25s ease-out;
         -o-transition: opacity 0.25s ease-out;
            transition: opacity 0.25s ease-out;

    -webkit-filter: brightness(3) blur(2px);
       -moz-filter: brightness(3) blur(2px);
        -ms-filter: brightness(3) blur(2px);
         -o-filter: brightness(3) blur(2px);
            filter: brightness(3) blur(2px);
}

.related-video-item-tmpl:hover .play-icon
{
    opacity:1;
    -webkit-filter: brightness(1) blur(0px);
       -moz-filter: brightness(1) blur(0px);
        -ms-filter: brightness(1) blur(0px);
         -o-filter: brightness(1) blur(0px);
            filter: brightness(1) blur(0px);

}


.related-video-item-tmpl .related-video-item-metadata
{
    margin-top:-3px;

    float:left;
    display:inline-block;

    min-height:30px;
    height:auto;
    min-width:300px;

    width:100%;
    background-color:#eee;
}

.related-video-item-tmpl .related-video-item-metadata .related-video-item-summary
{
    background-color:#fff;
    padding:10px;
    border-bottom:1px solid #ccc;
}

